<style>
    #imagem-curso {
        position: relative;
        background-image: url(/assets/img/uploads/mg_1580.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 50vh;
    }

    .cursos-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff112;
        text-shadow: -2px 2px #444;
    }
</style>

<section id="cursos" class="section white">
    <div class="row">
        <div id="imagem-curso" class="col s12 l6">
            <div class="container">
                <div class="cursos-title">
                    <h4 class="bolder">CURSOS</h4>
                </div>
            </div>
        </div>

        <div class="col s12 l6">
            <div class="row">
                {% for item in site.cursos_imepe %}
                    {% include grid-loop.html %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% for item in site.cursos_imepe %}
        {% include modal-loop.html %}
    {% endfor %}
</section>