<section id="sobre_imepe" class="section">
    <div class="row">
        <article class="col s12 l6">
            {% for item in site.sobre_imepe limit: 1 %}
                <div class="card-panel z-depth-5 hoverable">
                    <h4 class="center-align primary-color-text bolder"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</h4>

                    <div class="container">
                        <div class="justify">
                            {{ item.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>

        <article class="col s12 l6">
            {% for item in site.sobre_imepe offset: 1 %}
                {% include grid-loop.html %}
            {% endfor %}
        </article>
    </div>

    {% for item in site.sobre_imepe offset: 1 %}
        {% include modal-loop.html %}
    {% endfor %}
</section>