<div class="row">
    <div class="input-field col s12">
        <input type="text" id="sobrenome" class="validate" placeholder="Sobrenome" name="Sobrenome">
        <label for="sobrenome">Sobrenome</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input type="text" id="nomecompleto" class="validate" placeholder="Nome Completo" name="Nome Completo">
        <label for="nomecompleto">Nome Completo</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input type="text" id="data_nascimento" class="datepicker" placeholder="Data de Nascimento" name="Data de Nascimento">
        <label for="data_nascimento">Data de Nascimento</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 l6">
        <input type="text" id="nbi" class="validate" placeholder="Nº BI" name="Nº BI">
        <label for="nbi">Nº BI</label>
    </div>

    <div class="input-field col s6 l3">
        <input type="text" id="emissao" class="datepicker" placeholder="Data de Emissão" name="Data de Emissão">
        <label for="emissao">Data de Emissão</label>
    </div>

    <div class="input-field col s6 l3">
        <input type="text" id="validade" class="datepicker" placeholder="Validade" name="Validade">
        <label for="validade">Validade</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 l6">
        <input type="text" id="naturalidade" class="validade" placeholder="Naturalidade" name="Naturalidade">
        <label for="naturalidade">Naturalidade</label>
    </div>

    <div class="input-field col s12 l6">
        <input type="text" id="nacionalidade" class="validade" placeholder="Nacionalidade" name="Nacionalidade">
        <label for="nacionalidade">Nacionalidade</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <input type="text" id="morada" class="validade" placeholder="Morada" name="Morada">
        <label for="morada">Morada</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 l4">
        <input type="text" id="telefone" class="validade" placeholder="Telefone" name="Telefone">
        <label for="telefone">Telefone</label>
    </div>

    <div class="input-field col s12 l4">
        <input type="text" id="celular" class="validade" placeholder="Celular" name="Celular">
        <label for="celular">Celular</label>
    </div>

    <div class="input-field col s12 l4">
        <input type="text" id="telefone-celular" class="validade" placeholder="Telefone-Celular" name="Telefone-Celular">
        <label for="telefone-celular">Telefone-Celular</label>
    </div>
</div>