<section id="servicos" class="section scrollspy center">
    <h3><strong class="bold primary-color-text">Serviços</strong> Liceu</h3>
    <div class="container">
        <div class="row">
            <ul class="tabs">
                {% for item in site.servicos_liceu %}
                    <li class="tab">
                        <a href="#{{ forloop.index }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row primary-color">
            <div class="container">
                {% for item in site.servicos_liceu %}
                    <article id="{{ forloop.index }}">
                        <p class="bold"><i class="fas fa-{{ item.icon }}"></i> <strong>{{ item.title }}</strong></p>

                        <div class="justify">
                            {{ item.content }}
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>