<section id="sobre" class="section scrollspy white">
    <div class="container">
        <h3 class="center"><strong class="bold primary-color-text">Sobre</strong> Liceu</h3>

        <article class="card-panel hoverable white">
            <div class="container justify">
                {% for item in site.sobre_liceu limit: 1 %}
                    {{ item.content }}
                {% endfor %}
            </div>
        </article>

        <div class="row">
            {% for item in site.sobre_liceu offset: 1 %}
                <div class="col s12 l6">
                    <div class="card hoverable primary-color">
                        <div class="card-title center-align activator">
                            <i class="fas fa-5x fa-{{ item.icon }}"></i>
                            <br>
                            <h4>{{ item.title }} <i class="fas fa-ellipsis-v right"></i></h4>
                        </div>

                        <div class="card-reveal">
                            <div class="card-title center">
                                <i class="fas fa-{{ item.icon }}"></i> {{ item.title }}
                                <i class="fas fa-times right"></i>
                            </div>
                            <div class="justify container">
                                {{ item.content }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>