---
title: Inscrições
ref: Inscrições
layout: page
image: /assets/img/uploads/img_0080.jpg
logo: /assets/img/liceu_logo.svg
---

<section class="section">
    <div class="container white">
        <div class="row">
            <form name="inscricoes" action="POST" netlify class="col s12">
                {% include regform/modal-form-header.html %}

                {% include regform/formstudent.html %}

                {% include regform/formfather.html %}

                {% include regform/form-cta.html %}
            </form>
        </div>
    </div>
</section>