<div class="fixed-action-btn">
    {% if page.title == "Ebenezer" %}
        <a class="btn-floating btn-large waves-effect waves-circle waves-light red">
            <i class="fas fa-plus"></i>
        </a>

        <ul>
            <li>
                <a 
                    href="/noticias/"
                    class="btn-floating btn-large waves-effect waves-circle waves-light tooltipped red"
                    data-position="left"
                    data-delay="50"
                    data-tooltip="Noticias">
                    <i class="fas fa-newspaper"></i>
                </a>
            </li>

            <li>
                <a 
                    href="/galeria/"
                    class="btn-floating btn-large waves-effect waves-circle waves-light tooltipped red"
                    data-position="left"
                    data-delay="50"
                    data-tooltip="Galeria">
                    <i class="fas fa-image"></i>
                </a>
            </li>
        </ul>

        {% else %}
            <a href="/" class="btn-floating btn-large waves-effect waves-light red">
                <i class="fas fa-home"></i>
            </a>
    {% endif %}
</div>