<section id="more" class="section scrollspy center">
    <div class="container">
        <h3>Veja Mais</h3>

        <div class="row">
            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        {% for item in site.galeria limit: 1 %}
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        {% endfor %}
                    </div>

                    <div class="card-content">
                        <span class="card-title">Galeria</span>
                    </div>

                    <div class="card-action">
                        <a href="/galeria/" title="Galeria" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        {% for item in site.posts limit: 1 %}
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        {% endfor %}
                    </div>

                    <div class="card-content">
                        <span class="card-title">Noticias</span>
                    </div>

                    <div class="card-action">
                        <a href="/noticias/" title="Noticias" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                    </div>
                </div>
            </div>

            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="/assets/img/imepecover.jpg" alt="IMEPE">
                    </div>

                    <div class="card-content">
                        <span class="card-title">IMEPE</span>
                    </div>

                    <div class="card-action">
                        <a href="/imepe/" title="IMEPE" class="btn-flat waves-effect waves-primary">Veja Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>