<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff112">
    
    {% seo %}

    {% if page.title == "Liceu Ebenezer" %}
        <link rel="shortcut icon" href="/assets/img/liceu_favicon/favicon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="/assets/img/liceu_favicon/apple-touch-icon.png">

        {% elsif page.title == "Inscrições Liceu" %}
            <link rel="shortcut icon" href="/assets/img/liceu_favicon/favicon.png" type="image/x-icon">
            <link rel="apple-touch-icon" href="/assets/img/liceu_favicon/apple-touch-icon.png">

        {% elsif page.title == "IMEPE" %}
            <link rel="shortcut icon" href="/assets/img/imepe_logo.svg" type="image/x-icon">
            <link rel="apple-touch-icon" href="/assets/img/imepe_logo.svg">

        {% elsif page.title == "Inscrições IMEPE" %}
            <link rel="shortcut icon" href="/assets/img/imepe_logo.svg" type="image/x-icon">
            <link rel="apple-touch-icon" href="/assets/img/imepe_logo.svg">
    {% endif %}

    {% include scssify.html %}

    {% if page.title == "Ebenézer" %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% endif %}
</head>