<script src="/node_modules/jquery/dist/jquery.min.js" defer></script>
<script src="/node_modules/materialize-css/dist/js/materialize.min.js" defer></script>
{% if page.layout == "pagination" %}
    <script src="/node_modules/masonry-layout/dist/masonry.pkgd.min.js" defer></script>
    <link rel="stylesheet" href="/node_modules/lightbox2/dist/css/lightbox.min.css">
    <script src="/node_modules/lightbox2/dist/js/lightbox.min.js" defer></script>
{% endif %}
<script src="/assets/js/main.js" defer></script>