<div id="dadosEncarregado">
    <div class="row">
        <div class="input-field col s12 l8">
            <i class="fas fa-user-tie prefix"></i>
            <input type="text" id="encarregado_nomecompleto" class="validate" placeholder="Nome Completo" name="Encarregado Nome Completo" required>
            <label for="encarregado_nomecompleto">Nome Completo</label>
        </div>
        
        <div class="input-field col s12 l4">
            <i class="fas fa-calendar-alt prefix"></i>
            <input type="text" id="encarregado_data_nascimento" class="validate" placeholder="Data de Nascimento" name="Encarregado Data de Nascimento" required>
            <label for="encarregado_data_nascimento">Data de Nascimento</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l4">
            <i class="fas fa-id-card prefix"></i>
            <input type="text" id="encarregado_nbi" class="validate" placeholder="Nº BI" name="Encarregado Nº BI" required>
            <label for="encarregado_nbi">Nº BI</label>
        </div>

        <div class="input-field col s6 l4">
                <i class="fas fa-calendar-check prefix"></i>
            <input type="text" id="encarregado_emissao" class="validate" placeholder="Data de Emissão" name="Encarregado Data de Emissão" required>
            <label for="encarregado_emissao">Data de Emissão</label>
        </div>

        <div class="input-field col s6 l4">
            <i class="fas fa-calendar-times prefix"></i>
            <input type="text" id="encarregado_validade" class="validate" placeholder="Validade" name="Encarregado Validade" required>
            <label for="encarregado_validade">Validade</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <i class="fas fa-map prefix"></i>
            <input type="text" id="encarregado_naturalidade" class="validade" placeholder="Naturalidade" name="Encarregado Naturalidade" required>
            <label for="encarregado_naturalidade">Naturalidade</label>
        </div>

        <div class="input-field col s12 l6">
            <i class="fas fa-map-marker prefix"></i>
            <input type="text" id="encarregado_morada" class="validade" placeholder="Morada" name="Encarregado Morada" required>
            <label for="encarregado_morada">Morada</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <i class="fas fa-envelope prefix"></i>
            <input type="text" id="email" placeholder="email" name="email">
            <label for="email">Email</label>
        </div>

        <div class="input-field col s12 l6">
            <i class="fas fa-phone prefix"></i>
            <input type="text" id="encarregado_celular" class="validade" placeholder="Celular" name="Encarregado Celular" required>
            <label for="encarregado_celular">Celular</label>
        </div>
    </div>
</div>