<div id="dadosAluno" >
    <br><br><br>
    <div class="row center">
        <div class="file-field">
            <span class="fas fa-5x fa-user-graduate"></span><br>
            <p>Insira a Foto do Aluno</p>
            <input type="file" name="Foto do Aluno" id="foto">

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 l8">
            <i class="fas fa-user-circle prefix"></i>
            <input type="text" id="nomecompleto" class="validate" placeholder="Nome Completo" name="Nome Completo" required>
            <label for="nomecompleto">Nome Completo</label>
        </div>

        <div class="input-field col s12 l4">
            <i class="fas fa-calendar-alt prefix"></i>
            <input type="text" id="data_nascimento" class="validate" placeholder="Data de Nascimento" name="Data de Nascimento" required>
            <label for="data_nascimento">Data de Nascimento</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l4">
            <i class="fas fa-id-card prefix"></i>
            <input type="text" id="nbi" class="validate" placeholder="Nº BI" name="Nº BI" required>
            <label for="nbi">Nº BI</label>
        </div>

        <div class="input-field col s6 l4">
            <i class="fas fa-calendar-check prefix"></i>
            <input type="text" id="emissao" class="validate" placeholder="Data de Emissão" name="Data de Emissão" required>
            <label for="emissao">Data de Emissão</label>
        </div>

        <div class="input-field col s6 l4">
            <i class="fas fa-calendar-times prefix"></i>
            <input type="text" id="validade" class="validate" placeholder="Validade" name="Validade" required>
            <label for="validade">Validade</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <i class="fas fa-map prefix"></i>
            <input type="text" id="naturalidade" class="validade" placeholder="Naturalidade" name="Naturalidade" required>
            <label for="naturalidade">Naturalidade</label>
        </div>
    
        <div class="input-field col s12 l6">
            <i class="fas fa-map-marker prefix"></i>
            <input type="text" id="morada" class="validade" placeholder="Morada" name="Morada" required>
            <label for="morada">Morada</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <i class="fas fa-envelope prefix"></i>
            <input type="text" id="email" placeholder="email" name="email">
            <label for="email">Email</label>
        </div>

        <div class="input-field col s12 l6">
            <i class="fas fa-phone prefix"></i>
            <input type="text" id="celular" class="validade" placeholder="Celular" name="Celular" required>
            <label for="celular">Celular</label>
        </div>
    </div>
</div>