<div id="dadosEncarregado">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="encarregado_nomecompleto" class="validate" placeholder="Nome Completo" name="Encarregado Nome Completo">
            <label for="encarregado_nomecompleto">Nome Completo</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="encarregado_data_nascimento" class="datepicker" placeholder="Data de Nascimento" name="Encarregado Data de Nascimento">
            <label for="encarregado_data_nascimento">Data de Nascimento</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="encarregado_nbi" class="validate" placeholder="Nº BI" name="Encarregado Nº BI">
            <label for="encarregado_nbi">Nº BI</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="encarregado_emissao" class="datepicker" placeholder="Data de Emissão" name="Encarregado Data de Emissão">
            <label for="encarregado_emissao">Data de Emissão</label>
        </div>

        <div class="input-field col s6">
            <input type="text" id="encarregado_validade" class="datepicker" placeholder="Validade" name="Encarregado Validade">
            <label for="encarregado_validade">Validade</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l6">
            <input type="text" id="encarregado_naturalidade" class="validade" placeholder="Naturalidade" name="Encarregado Naturalidade">
            <label for="encarregado_naturalidade">Naturalidade</label>
        </div>

        <div class="input-field col s12 l6">
            <input type="text" id="encarregado_morada" class="validade" placeholder="Morada" name="Encarregado Morada">
            <label for="encarregado_morada">Morada</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l4">
            <input type="text" id="telefone" class="validade" placeholder="Telefone" name="Encarregado Telefone">
            <label for="encarregado_telefone">Telefone</label>
        </div>

        <div class="input-field col s12 l4">
            <input type="text" id="encarregado_celular" class="validade" placeholder="Celular" name="Encarregado Celular">
            <label for="encarregado_celular">Celular</label>
        </div>

        <div class="input-field col s12 l4">
            <input type="text" id="encarregado-telefone-celular" class="validade" placeholder="Telefone-Celular" name="Encarregado Telefone-Celular">
            <label for="encarregado-telefone-celular">Telefone-Celular</label>
        </div>
    </div>
</div>